@model int

<div class="container pt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card mb-3 shadow-sm" style="border: none;">
                <div class="card-header text-center" style="background-color: #f8f9fa;">
                    <h5 class="text-primary mt-2">Order Placed Successfully <i class="bi bi-hand-thumbs-up"></i></h5>
                </div>
                <div class="card-body text-center">
                    <h4 class="card-title">Order Number: <span class="font-weight-bold">@Model</span></h4>
                    <p class="card-text text-success" >
                        Your order has been placed successfully! Thank you for shopping with us!
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</div>
